<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>Welcome to <i class="fa-solid fa-book"></i>BSK!!</h1>
      <p>in<i class="fa-solid fa-book"></i>BSK,</p>
      <p>BSKはバスケ専門の商品レビューサイトです</p>
      <p>about various BSK!</p>
      
    </div>
  </div>
</div>