<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
  
  </div>
   <div class=" col-md-8 offset-md-1">
  <h2>reviews</h2>
<%= render 'user', user: @user%>
  
</div>
</div>
</div>
