<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <h2>User info</h2>
      <%#= render partial: "users/info", locals: { user: @user }%>

      <h2>New Review</h2>
      <div class="mt-3">
      <%#= render partial: "reviews/form", locals: { review: @review } %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Groups</h2>
      <%= render 'index', groups: @groups %>
    </div>

  </div>
</div>
</div>